{% extends "master.html" %}
{% block content %}

  <!-- carousel start -->
  <div class="container pt-4">
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="https://picsum.photos/id/52/1600/600" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="https://picsum.photos/id/34/1600/600" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="https://picsum.photos/id/81/1600/600" class="d-block w-100" alt="...">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
  <!-- carousel end -->
  
  <!-- container - start -->
  <div class="container py-4">
    <!-- row - start -->
  <div class="row"> 
    <!--  hakkinda  start -->   
    <div class="col-sm-10">
      <h2>Antrenman Gelişimini Takip Etmek Neden Önemli?</h2>
      
        <p>Fitness yolculuğuna ister yeni başla, ister yıllardır antrenman yapıyor ol, antrenman planına bağlı kalıp rotadan sapmamak için ilerlemeni düzenli şekilde takip etmelisin.
        <br><br>

        Hedefin kas yapmak, kilo vermek veya vücudunu sıkılaştırmak olabilir. Senin kişisel hedefin her ne olursa olsun, o hedefe daha emin adımlarla ilerlemek adına bu adımların kaydını tutmak çok önemli.</p>
      <br>
      <h4>Antrenmanlardaki gelişimini takip etmenin faydaları nelerdir?</h4>
      <br> 
      <h5>1) Hedef belirlemek kolaylaşır</h5>
        <p>Gerçekçi olmayan hedefler yalnızca moralini bozar ve cesaretini kırar. Gelişimini takip ederken kendi vücut yapına ve hayat tempona uymayan bir programın olduğunu fark edersen buna müdahale edebilir ve kendine daha uygun bir programla değiştirerek zaman kaybetmekten kurtulabilirsin.
          <br><br>
        Antrenman programını daha gerçekçi bir şekilde düzenledikten sonra gelişimini kaydetmek, kendi seviyeni görmeni ve ileriye dönük antrenman hedeflerini belirlemeni sağlar.</p>
      <h5>2) Çabalarının meyvesine odaklanmanı sağlar</h5>
        <p>Antrenmanlarındaki ilerlemeni adım adım görmek büyük resmi görmeni kolaylaştırır. “Hayallerine yaklaşma” duygusu ile motive olursun. Bu motivasyon, çabalarının uzun vadede neye hizmet edeceğini sana hatırlatmış olur.</p>
      <h5>3) Başarını fark edersin</h5>
        <p>Zaman geçtikçe antrenmanlarını daha kısa sürede tamamlamaya başlayacak ve hedefine yaklaştığını fark edeceksin. Böylece vücudun üzerinde daha fazla kontrol sahibi olacak ve başarılı hissedeceksin. Bu başarı hissi, sonraki antrenmanlarına odaklanmanı kolaylaştıracaktır. Hedeflerine ulaştıkça kendini tebrik etmeyi ve ödüllendirmeyi de unutmamalısın.</p>
      <h5>4) Zamanını daha verimli kullanırsın</h5>
      <p>Antrenman gelişimini takip etmek, varmak istediğin hedef doğrultusunda oluşturduğun plana bağlı kalmanı ve zaman kaybetmemeni sağlar. Zamanını daha verimli kullanmaya başladıkça gün içerisindeki diğer işlerini de daha düzenli ve programlı yürütmeye başlarsın.</p>
      </div>
    </div><!-- about us - end -->
  </div><!-- row - end -->

  </div><!-- container - end -->
{% endblock %}
