{% extends "master.html" %}
  {% block content %}
  
  <!-- container2 - start -->
  <div class="container mt-4">
    <div class="row"><!-- row - start -->
      <div class="col-sm-6"><!-- tip - start -->
        <img class="img-thumbnail" src="https://images.squarespace-cdn.com/content/v1/55bfc59de4b02ea1fec5c737/1561399052485-SKZGMGI35HM4XRQSF195/shutterstock_1023895738-1024x581.jpg?format=2500w" alt="">
      </div>
      <div class="col-sm-6">
        <h1>Vücut Tipleri Nedir?</h1>
          <p>Arkadaşınız ile aynı antrenmanı yapıp tamamen farklı sonuçlar elde ediyor ya da yağ kaybı yaşarken çok zorlanıyor olabilirsiniz. Bu durumun başlıca sebebi vücut tipinizden kaynaklanıyor olabilir.</p>
          <p>Üç temel vücut tipi endomorf, mezomorf ve ektomorftur.1940'larda William H. Sheldon ve meslektaşları, somatotoip olarak da bilinen üç vücut tipini insan fiziğinin sınıflandırılması için önermiştir. Bu sınıflandırma kendinizi tamamen bir yerde nitelendirmeniz gerektiği anlamına gelmez. Sağlığınız ve yaşam tarzınızı nasıl daha iyi yönetebileceğiniz hakkında size fikir verecektir. Bu üç vücut tipinin özelliklerini taşıyor olabilirsiniz. Ancak hangisine en yakın olduğunuzu bilmek, istediğiniz görünümü oluşturmada sizlere yardımcı olacaktır. </p>      
      </div><!-- tip - end -->
    </div><!-- row - end -->
    </div><!-- container2 - end -->

  <!-- container3 - start -->
  <div class="container py-4">
    <!-- row - start -->
  <div class="row">  
    <div class="col-sm-10">
      <h2>EKTOMORF</h2>
        <p>Vücut kompozisyonunu değiştirmekle belki de en çok mücadele eden vücut tipidir. Metabolizmalarının hızlı olması olumlu görünse de hem yağ hem de kas açısından kilo almakta onları zorlar. Genetik faktörleri kas kütlesini oluşturma yeteneğini sınırlayabilir. Bundan dolayı 'zor kazananlar' olarak bilinirler.</p>
        <img src="https://lh4.googleusercontent.com/8pYZfOaxCU3GLDPu7eAbStAIGL2HIysZhr79s8Ea7J-HXHTc72lZD_zzLfrmylL0NKjdvz4AyhR6ChUKQ-ix6zYWOiHTSxbyi1WeZ4z3GnlmqKjW-S914zdDUKPX3ROyG2Acstwl6a8DsafmW7GEfri6P_zTeT4WmmdzWkFTPufbJcL6Le71tX_I12CbJDxKLGW6Bg" alt="">
          <h3>Ektomorf Vücut Tipi </h3>
          <ul>
            <li>Vücut yağ ve kas miktarları azdır</li>
            <li>Uzun uzuvlara (kol, bacak) sahiptir</li>
            <li>İnce bellere dar kalça ve omuzlara sahiptirler</li>
            <li>Metabolizmaları hızlıdır</li>
            <li>Vücutları uzun ve dar görünür</li>
            <li>Kilo almakta zorlanırlar</li>               
          </ul>
      <h2>ENDOMORF</h2>
      <p>Bu vücut tipine sahip bireyler, genellikle kilolarıyla mücadele ederler, daha kolay kilo alırlar ve daha zor kilo verirler. Genellikle onlara atletik bir görünüm veren geniş kalçalara ve geniş omuzlara sahiptirler.</p>

      <img src="https://lh3.googleusercontent.com/xo0J9ujbDV-UKWmfx8WTygmDxDNZVoIZe7uWR2nSI51J1e6QG6EuCzhI0lWK4FuuvdYpQTIlqsJteHnFVUoBY1wd7-KvfzQsed-CX80mVEVNIC71Tnd771FG6KsTgUI-mq7uRpmeGPQ11_PoBXcQh_OSKGQWuKWnEN7pVsy4k4lpUf9Pt3f2s2Cck5TsGn2Zef_blg" alt="">
        <h3>Endomorf Vücut Tipi</h3>
        <ul>
          <li>Metabolizmaları yavaştır</li>
          <li>Kolayca kilo, yağ alabilirler</li>
          <li>Vücudunuz varsayılan olarak ekstra yağ taşıma eğilimindedir</li>
          <li>Vücut yağı, vücudun alt bölgelerine birikme eğilimindedir</li>
        </ul>
      <h2>MEZOMORF</h2>
      <p>Belki de en şanslı görülen vücut tipidir. Bu vücut tipinde olan insanlar genellikle ters üçgen şekilli bir vücuda sahiptir. Kas inşa etmeye daha duyarlı olan yüksek metabolizma ve hücrelere sahiptir. </p>

      <img src="https://lh3.googleusercontent.com/LECjJs2f5hIFVFcZ9AQzO0kZ0OuGV7-wQj7vprjz7g6qElK331-C0ayPefyhToxSotzBxXUkzk9fVbJZJdQqXY087WyQi1lQrSrY_fl6qPiM5zF77ZJjeHV1EHuC_QUW7C_dfQEyDQ_oqLaS_QSd3n1LdSPFlpQZzRLkB6LsK3ioOxCbY6ep7qD012vSrtyVwmY9Og" alt="">
        <h3>Mezomorf Vücut Tipi </h3>
        <ul>
          <li>Atletik yapıya sahiptirler</li>
          <li>Kolayca kas kazanabilirler</li>
          <li>Genel olarak güçlüdürler</li>
          <li>Omuzları kalçalardan daha geniştir</li>
          <li>Verimli metabolizmaları vardır</li>
          <li>Vücutları varsayılan olarak yağsız, ancak biraz kaslı olma eğilimindedir</li>
          <li>Egzersize hızlı yanıt verir</li>
          <p>Mezomorflar, hızlı kasılma liflerine (tip-2) yüzdesel olarak daha fazla sahip olabilirler. Bu sebeple güç gerektiren sporlarda daha iyi olabilirler. </p>
      
      </div>
  </div><!-- row - end -->
  </div><!-- container3 - end -->

    {% endblock %}